<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2013-2014 ReConf Team

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<configuration>
    <appender name="A1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>/export/logs/reconf-server/reconf-server.log</File>
        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss,UTC}] %p %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/export/logs/reconf-server/reconf-server.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>/export/logs/reconf-server/reconf-server-sql.log</File>
        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss,UTC}] %p %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/export/logs/reconf-server/reconf-server-sql.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.hibernate.type" additivity="false" level="OFF">
        <appender-ref ref="SQL" />
    </logger>
    <logger name="org.hibernate.SQL" additivity="false" level="DEBUG">
        <appender-ref ref="SQL" />
    </logger>
    <logger name="org.hibernate" additivity="false" level="WARN">
        <appender-ref ref="SQL" />
    </logger>

    <logger name="org.springframework" additivity="false" level="WARN">
        <appender-ref ref="A1" />
    </logger>

    <logger name="org.springframework.security" additivity="false" level="WARN">
        <appender-ref ref="A1" />
    </logger>

    <root level="INFO">
        <appender-ref ref="A1" />
    </root>
</configuration>