<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <display-name>reconf-server</display-name>

    <servlet>
        <servlet-name>reconf-server</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>reconf-server</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

	<!-- 
    <filter>
       <filter-name>auditing-filter</filter-name>
       <filter-class>reconf.server.filter.AuditingFilter</filter-class>
    </filter>

    <filter-mapping>
       <filter-name>auditing-filter</filter-name>
       <url-pattern>/*</url-pattern>
       <dispatcher>ERROR</dispatcher>
       <dispatcher>FORWARD</dispatcher>
       <dispatcher>INCLUDE</dispatcher>
       <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    -->

</web-app>